body{
  background-image: url(https://c8.alamy.com/compes/2a8rx23/un-simbolo-de-corazon-la-mitad-de-los-granos-de-cafe-la-mitad-de-cafe-en-polvo-sobre-un-fondo-blanco-aislado-2a8rx23.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #FFFFFF;
}

*{
  font-family: 'Poppins', san serif;
  margin: 0; padding-left: 0;
  box-sizing: border-box;
  outline: none; border: auto;
  text-decoration:none;
  text-transform: uppercase;
  align-items: center;
  padding: 1m 2m;

}
.titulo{
 font-family: cursive;
  text-align: center;
  color: black;
  margin: 30PX;
  margin-left: 300px;
  margin-right: 300px;
  border: dotted blueviolet 10px;
  background-color: paleturquoise;
  
}
.nan{
  min-height: 20vh;
  background:#9fa3e2;
  display: flex;
  justify-content: center;
   margin: 30px;
  
  
}
.nan label{
  width: 300px;
  height:100px;
  padding: 30px;
  border-radius:  50px;
  border:  5px dashed;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 20px;
  color: green;
  margin-right: 70px;
  font-weight: bold;
  text-align: center;
  background-color: plum;
  
}
.nan input{
  width: 300px;
  height:100px;
  padding: 10px;
  border: 5px dashed;
  color:black;
  font-size: 25px;
  display: block;
  background-color: gold;
  font-weight: bold;

  }
 

.img1{
  width: 400px;
  height: 250px;
  display: block;
  padding: 20px;
  margin: auto;
  border:dotted 7px;
  border-color: blue;
  background-color: pink;

}
  

.boton{
  width: 200px;
  height: 80px;
  color: purple;
  border: 5px dashed;
  padding: 10px;
  font-size: 15px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-left: 70px;
  background: palegoldenrod;

}
.imprimir {
  text-align: center;
  color: blue;
  margin: 6px;
  font-size: 30px;
  font-weight: bold;
}
.ocultar{
  text-align: center;
  color: #a40599;
  margin: 2px;
  font-size: 30px;
  font-weight: bold;
}